body{
    text-align: center;

}
header img{
width: 200px;
height: 200px;
border-bottom: 5px;
}
nav ul li {
    text-decoration: none;
    display: inline-block; 
    font-size: bold;
    text-transform: uppercase;
    margin: 10px;
    padding: 2px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
.download{
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-size: 2rem;
    margin: 0 auto;
    border-radius: 5px;
}
article{
    text-align: center;
    margin-bottom: 4PX solid rgba(2, 0, 0, 0.377);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.allday{
    font-family: "Sevillana", cursive;
    ;
}
.banner{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}
.dash::after{
content: "";
display: block;
width: 50px;
height: 4px;
background-color: #333;
margin: 10px auto;
}
.dash::after{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #333;
    margin: 10px auto;
    }
    h3{
        font-family: "Sevillana", cursive;
        text-align: center;
        font-size: 200%;
    }
   .container{
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(2, 0, 0, 0.1);
   }
   .title{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
   }
   .fontal{
    font-family: "Sacramento", cursive;
   }
   .serve{
    text-align: center;
    font-size: 16px;
    color: #666;
    margin: 10px 0;
   }
   .link{
    text-decoration: none;
    font-weight: 700;
    color: #007bff;
   }
   .menu{
    width: 150px;
    height: 150px;
    background-image: url(/image/dark.avif);
    background-size: cover;
    background-repeat: no-repeat;
   }
   #items{
    width: 150px;
    height: 150px;
    display: inline;
    margin: 5px;
   }
.one{
    width: 150px;
    height: 150px;
    background-image: url(/image/dark.avif);
    background-size: cover;
    background-repeat: no-repeat;
   }
   .two{
    width: 150px;
    height: 150px;
    background-image: url(/image/dark.avif);
    background-size: cover;
    background-repeat: no-repeat;
   }
.newsletter-box{
    width: 100;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.newsletter-box h2{
    font-size: 2.5rem;
    font-family: "Sevillana", cursive;


}

form{
    background-color: white;
    color: black;
    margin: 5px;
    padding: 10px;
    text-align: left;
    
}
.star{
    color: red;
}
form p{
    text-align: right;
}

label{
    margin-bottom: 10px;
    font-size: 14px;
}
label span{
    color: red;
}
label[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    border: none;
    padding: 10px 20px;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: grey;
}
button:hover{
    background-color: red;
}

.franchise{
font-size: 2.5rem;
font-style: oblique;
}
.dolor{
    word-spacing: 2%;
    letter-spacing: 2px;
}
.sub{
    text-decoration: none;
    color:#333;
    padding: 10px;
    border: 3px solid black;
    font-weight: bold;
}
.disclaimer{
    font-size: 0.7rem;
text-align: justify;
}
.studio{
    width: 100%;
    height: 400%;
}
.dash::after{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #333;
    margin: 10px auto;
    }
    .dash::after{
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background-color: #333;
        margin: 10px auto;
        }
        .location{
        padding:2px;
        

        }
 .location a{
 color: black;
  text-transform: uppercase;
 margin:0px;
 }
.location p{
    margin: 0;
    text-transform: uppercase;
    text-decoration: solid;
}
.fa-facebook{
    font-size: 30px;
    margin-top: 30px;
    color: black;
}
.fa-square-instagram{
    font-size: 30px;
    margin: 10px;
    color: black;
}
footer{
    width: 100;
    height: 105px;
background-color:rgba(250, 235, 215, 0.904);
padding: 40px;
text-transform: uppercase;
margin: 10px;

}
.mail{
    color: black;
}
footer img{
    width: 30px;
    margin-top: 20px;
}
.spaninc{
    text-decoration: none;
}
.lastone{
    text-decoration: none;
    color: gold;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
    line-height:0.5 ;
    text-align: justify;
}
.stone{
text-decoration: none;
color: gold;
text-transform: uppercase;
font-size: 2rem;
margin:0 auto;
line-height:0.5;
padding:2px
}
    